.create-post-body {
    background-color: lightgray;
    width: 65%;
    margin: 30px;
    padding: 30px;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
}

textarea {
    resize: none;
}

button {
    margin: 10px;
}